<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>
    <add key="SystemName" value="北京丽都Com.IFlyDog.FlyDogAPI"/>

    <!--redis配置-->
    <add key="readWriteHosts" value="Lz+18518095396+zL@192.168.11.220:6379"/>
    <add key="readOnlyHosts" value="Lz+18518095396+zL@192.168.11.220:6379"/>
    <add key="DefaultRedisDB" value="0"/>
    <!--Mongodb配置-->
    <add key="MongoDBConnection" value="mongodb://sa:bjld18518095396DLJB@192.168.11.220:27017/admin"/>
    <add key="MongoDBName" value="IFlyDogDB"/>

  </appSettings>
</configuration>
