<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly  name="Com.IFlyDog.IFlyDogWebBLL"/>
    <assembly  name="Com.IFlyDog.FlyDogWebBLL"/>
    <assembly  name="Com.JinYiWei.Common"/>
    <containers>
      <container name="JinYiWeiUnity">
      </container>
    </containers>
  </unity>
</configuration>