<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SystemName" value="北京丽都Com.IFlyDog.FlyDogWeb"/>

    <!--redis配置-->
    <add key="RedisHosts" value="129.0.0.1:6379,allowadmin=true,password=1234567890" />
    <add key="DefaultRedisDB" value="2" />
    <add key="RedisKey" value="IFlyDogWeb:" />
    <!--Mongodb配置-->
    <add key="MongoDBTokenConnection" value="mongodb://sa:syld18518095396DLYS@Bhh.sylidu.net:27017/admin"/>
    <add key="MongoDBToken" value="IFlyDogDB"/>
    
    
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--API地址-->
    <!--服务-->
    <!--<add key="ApiUri" value="http://192.168.11.220:8099" />
    <add key="ApiUriToken" value="http://192.168.11.220:8098/api/NewToken/Token" />-->
    
    <!--本地-->
    <add key="ApiUri" value="http://101.37.18.64:8022" />
    <add key="ApiUriToken" value="http://101.37.18.64:8011/api/NewToken/Token" />
    
    <!--图片服务器地址-->
    <add key="PictureUrl" value="http://101.37.18.64:8044/Picture/UploadImage/" />
    <add key="ImageUrl" value="http://101.37.18.64:8044/" />
    
    <add key="appid" value="58e3058d721e2a2b0c38d5af" />
    <add key="appsecred" value="2f7d7cf6b551489ca1357a87af51a030" />
    <add key="sign_key" value="c36ca189e67f44fa9d1078ca95b0da1f" />
  

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
   <httpRuntime targetFramework="4.5.1"  maxRequestLength="2147483647" executionTimeout="720"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <connectionStrings>
    <add name="SQLServer_Write" connectionString="Data Source=localhost;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=xiaopotian18518095396ZL;MultipleActiveResultSets = true" providerName="System.Data.SqlClient" />
    <add name="SQLServer_Read" connectionString="Data Source=localhost;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=xiaopotian18518095396ZL;MultipleActiveResultSets = true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
