
<div class="layui-footer footer footer-demo" id="admin-footer">
    <div class="layui-main">
        <p>
            2017 &copy;
            <a href="#">iflyDog.com</a> i飞狗
        </p>
    </div>
</div>