<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>i飞狗医疗软件</title>
    <meta name="keywords" content="" mmosttler="mmosttler"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="~/lay_component/plugins/layui/css/layui.css" rel="stylesheet"/>
    <link href="~/lay_component/css/global.css" rel="stylesheet"/>
    <link href="~/lay_component/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

</head>

<body>
<div class="layui-layout layui-layout-admin">
    @Html.Partial("_MenuTop")
    @Html.Partial("_MenuLeft")

    <div class="layui-body" style="bottom: 0; border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                    <cite>主页面</cite>
                </li>
            </ul>      
        </div>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item">
                <iframe></iframe>              
            </div>
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Footer")
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    <script src="~/lay_component/plugins/layui/layui.js"></script>
    <script src="~/lay_component/datas/nav.js"></script>
    <script src="~/lay_component/js/index.js"></script>
</div>
</body>
</html>