<div class="layui-header header header-demo">
    <div class="layui-main">
        <div class="admin-login-box">
            <a class="logo" style="left: 0;" href="#">
                <span style="font-size: 22px;">i飞狗互帮医疗</span>
            </a>

        </div>
        <ul class="layui-nav admin-header-item">
            <li class="layui-nav-item">
                <a href="javascript:;">清除缓存</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="admin-header-user">
                    <img src="~/lay_component/images/0.jpg" />
                    <span>超级管理员</span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;"><i class="fa fa-gear" aria-hidden="true"></i> 设置</a>
                    </dd>
                    <dd>
                        <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav admin-header-item-mobile">
            <li class="layui-nav-item">
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
            </li>
        </ul>
    </div>
</div>