@using Com.IFlyDog.FlyDogWeb.Helper
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>医院管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Styles/Public/base-1.0.css" rel="stylesheet" />
    <link href="~/lay_component/plugins/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/lay_component/css/global.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <legend>医院列表</legend>
            <div class="layui-field-box">
                <table class="site-table table-hover">
                    <thead>
                        <tr>
                            <th>医院</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="hospital-table"></tbody>
                </table>
            </div>
        </fieldset>
        <div class="dot-tmp">
            <!-- 医院表格 -->
            <script class="hospital-tmp" type="text/x-dot-template">
                {{ for(var item in it){ }}
                <tr data-id="{{= it[item].ID }}">
                    <td>{{= it[item].Name }}</td>
                    <td><a href="/AuditRule/AuditRuleInfo?hospitalID={{= it[item].ID }}" class="layui-btn layui-btn-small">设置</a></td>
                </tr>
                {{ } }}
            </script>
        </div>
    </div>
    <script src="~/lay_component/js/jquery-2.0.3.min.js"></script>
    <script src="~/lay_component/js/hcommon.js"></script>
    <script src="~/Scripts/FlyDog.Common.js"></script>
    <script src="~/doT-master/doT-master/doT.min.js"></script>
    <script src="~/lay_component/plugins/layui/layui.js"></script>
    <script>
        $(function () {
            layui.use(["form"], function () {
                window.form = layui.form();
                getPageData();
            });
        });
        var getHospitalData = function () {
            var dotEle = [{ container: ".hospital-table", tmp: ".hospital-tmp" }];
            ajaxObj.setUrl("/Hospital/HospitalGet").setDotEle(dotEle).getData();
        }
        getPageData = getHospitalData;
    </script>
</body>
</html>
