@using Com.IFlyDog.FlyDogWeb.Helper
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>店家管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Styles/Public/base-1.0.css" rel="stylesheet" />
    <link href="~/lay_component/plugins/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/lay_component/css/global.css" rel="stylesheet" />
    <style>
        .store-a{color:indianred;text-decoration:underline;cursor:pointer;}
    </style>
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <a href="javascript:;" class="layui-btn layui-btn-small btn-add">
                <i class="layui-icon"></i> 添加
            </a>
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>店家管理</legend>
            <div class="layui-form m-10 clearfix">
                <div class="fl">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sName" placeholder="请输入名称">
                    </div>
                </div>
                <div class="fl">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sLinkman" placeholder="请输入联系人">
                    </div>
                </div>
                <div class="fl">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sMobile" placeholder="请输入手机">
                    </div>
                </div>
                <div class="fl">
                    <label class="layui-form-label">账户名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sOwnerName" placeholder="请输入账户名">
                    </div>
                </div>
                <span class="layui-btn search-btn fr store m-r-10">查询</span>
            </div>
            <div class="layui-field-box">
                <table class="site-table table-hover">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>联系人</th>
                            <th>手机</th>
                            <th>地址</th>
                            <th>账户名</th>
                            <th>开户行</th>
                            <th>银行卡号</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="store-table"></tbody>
                </table>
                <div id="pageDiv"></div>
            </div>
        </fieldset>
        <div class="page-pop">
            <div class="store-info-pop hide">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>店家信息</legend>
                </fieldset>
                <div class=""></div>
                <div class="store-form clearfix"></div>
                <div class="m-20 clearfix">
                    <span class="layui-btn store btn-submit fr">确认</span><span class="layui-btn layui-btn-danger close-layer m-lr-10 fr">取消关闭</span>
                </div>
            </div>

        </div>
        <div class="dot-tmp">
            <!-- 店家表格 -->
            <script class="store-tmp" type="text/x-dot-template">
                {{ for(var item in it){ }}
                <tr data-id="{{= it[item].ID }}">
                    <td><span data-url="/Store/StoreData?storeID={{= it[item].ID }}" data-name="{{= it[item].Name }}" class="store-a" >{{= it[item].Name }}</span></td>
                    <td>{{= it[item].Linkman }}</td>
                    <td>{{= it[item].Mobile }}</td>
                    <td>{{= it[item].Address }}</td>
                    <td>{{= it[item].OwnerName }}</td>
                    <td>{{= it[item].Bank }}</td>
                    <td>{{= it[item].CardNo }}</td>
                    <td>{{= it[item].Remark }}</td>
                    <td>
                        <span class="layui-btn layui-btn-small btn-edit" data-id="{{= it[item].ID }}">修改</span>
                        <span class="layui-btn layui-btn-small btn-remove" data-id="{{= it[item].ID }}">删除</span>
                    </td>
                </tr>
                {{ } }}
            </script>
            <!-- 弹窗模版 -->
            <script class="store-form-tmp" type="text/x-dot-template">
                <input type="hidden" name="ID" value="{{= SUtils.setEmpty(it.ID) }}" />
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Name" placeholder="请输入名称" value="{{= SUtils.setEmpty(it.Name) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Linkman" placeholder="请输入联系人" value="{{= SUtils.setEmpty(it.Linkman) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Mobile" placeholder="请输入手机" value="{{= SUtils.setEmpty(it.Mobile) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Address" placeholder="请输入地址" value="{{= SUtils.setEmpty(it.Address) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">账户名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="OwnerName" placeholder="请输入账户名" value="{{= SUtils.setEmpty(it.OwnerName) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">开户行</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Bank" placeholder="请输入开户行" value="{{= SUtils.setEmpty(it.Bank) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">银行卡号</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="CardNo" placeholder="请输入银行卡号" value="{{= SUtils.setEmpty(it.CardNo) }}" />
                    </div>
                </div>
                <div class="layui-input-block m-bt-10">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <textarea class="layui-textarea" name="Remark" placeholder="请输入备注">{{= SUtils.setEmpty(it.Remark) }}</textarea>
                    </div>
                </div>
            </script>
        </div>
    </div>
    <script src="~/lay_component/js/jquery-2.0.3.min.js"></script>
    <script src="~/lay_component/js/hcommon.js"></script>
    <script src="~/Scripts/FlyDog.Common.js"></script>
    <script src="~/doT-master/doT-master/doT.min.js"></script>
    <script src="~/lay_component/plugins/layui/layui.js"></script>
    <script src="~/lay_component/sampleJs/Store.js"></script>
</body>
</html>
