<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly  name="Com.FlyDog.FlyDogTokenBLL"/>
    <assembly  name="Com.JinYiWei.Cache"/>
    <assembly  name="Com.JinYiWei.Common"/>
    <containers>
      <container name="JinYiWeiUnity">
        <register  type="Com.JinYiWei.Common.WebAPI.ITokenService,Com.JinYiWei.Common" mapTo="Com.FlyDog.FlyDogTokenBLL.TokenService,Com.FlyDog.FlyDogTokenBLL" />


        <register  type="Com.JinYiWei.Cache.IWebCache,Com.JinYiWei.Cache" mapTo="Com.JinYiWei.Cache.WebCache,Com.JinYiWei.Cache" />
      </container>
    </containers>
  </unity>
</configuration>