@using Com.IFlyDog.FlyDogWeb.Helper
<div class="DepositRebate hide">
    <style>
        .pay-way {
            margin-left: auto;
            width: 39%;
        }

        .layui-table td {
            padding: 9px 0px 15px;
        }

        .layui-form-item .layui-input-inline {
            width: 132px;
        }

        .card-money {
            margin-left: 8px;
        }
    </style>
    <form class="layui-form">
        <div class="m-10 fl" style="width: 45%">
            <div class="site-title">
                <fieldset><legend>收银</legend></fieldset>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">应收金额:</label>
                <div class="layui-input-inline">
                    <input type="text" name="toAmount" placeholder="" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收取现金:</label>
                <div class="layui-input-inline">
                    <input name="FinalPrice" type="number" min="1" placeholder="请输入现金金额" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">支付方式:</label>
                <div class="layui-input-block">
                    <table class="layui-table" lay-even lay-skin="nob" style="width:auto">
                        <tbody class="order-pay-tbody">
                            <tr>
                                <td>
                                    <div class="layui-input-inline fl">
                                        @Html.SelectCategory(Com.IFlyDog.CommonDTO.SelectType.CardCategory, "DepositRebateCard", "DepositRebateCard")
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline fl">
                                        <input type="number" min="0" value="0" name="tDepositRebateAmount" placeholder="刷卡金额" class="layui-input card-money">
                                    </div>
                                </td> 
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注描述:</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <span class="layui-btn add-submit">保存</span>
                </div>
            </div>
        </div>

        <div class="m-10 fr" style="width: 50%">
            <div class="site-title">
                <fieldset><legend>退预收款</legend></fieldset>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户编号:</label>
                <div class="layui-input-block">
                    <input type="text" name="CustomerID" placeholder="500" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提交时间:</label>
                <div class="layui-input-block">
                    <input type="text" name="CreateTime" placeholder="500" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提交用户:</label>
                <div class="layui-input-block">
                    <input type="text" name="CreateUserName" placeholder="500" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">订单金额:</label>
                <div class="layui-input-block">
                    <input type="text" name="Amount" placeholder="500" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注:</label>
                <div class="layui-input-block">
                    <input type="text" name="Remark" placeholder="500" readonly="readonly" class="layui-input ToMoney">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">预收款详细:</label>
                <div class="layui-input-block">
                    <table class="site-table table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody class="DepositRebate-tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">券详细:</label>
                <div class="layui-input-block">
                    <table class="site-table table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody class="DepositRebateC-tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
        <script type="text/html" class="DepositRebate-tmp">
            {{for(var item in it) { }}
            <tr data-DepositID="{{= it[item].DepositID}}">
                <td>{{= it[item].DepositID}}</td>
                <td>{{= it[item].DepositName}}</td>
                <td>{{= it[item].Amount}}</td>
            </tr>
            {{ } }}
        </script>
        <script type="text/html" class="DepositRebateC-tmp">
            {{for(var item in it) { }}
            <tr data-DepositID="{{= it[item].CouponID}}">
                <td>{{= it[item].CouponID}}</td>
                <td>{{= it[item].CouponName}}</td>
                <td>{{= it[item].Amount}}</td>
            </tr>
            {{ } }}
        </script>
</div>