@using Com.IFlyDog.CommonDTO
@using Com.IFlyDog.FlyDogWeb.Helper

<div class="callBackRemind hide">
    <div class="layui-field-box ">
        <style>
            .pad-9 {float: left;display: inline-block;padding: 9px;}
        </style>
        <div class="site-text site-block">
            <form class="layui-form callBackRemind-form"></form>
        </div>
        <div class="clearfix m-20">
            <span class="layui-btn CallBackRemind add-submit fr">立即提交</span>
            <span class="layui-btn layui-btn-danger close-layer m-lr-10 fr">取消关闭</span>
        </div>
    </div>
    <div class="dot-tmp hide">
        <script class="callBackRemind-tmp" type="text/x-dot-template">
            <input type="hidden" name="ID" value="{{= it.ID }}" />
            <div class="layui-form-item">
                <label class="layui-form-label">回访类型</label>
                <div class="layui-input-block">
                    @Html.SelectCategoryByHospital(SelectType.CallbackCategory, "CategoryID", "CategoryID", "CategoryID")
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">回访日期</label>
                <div class="layui-input-block">
                    <input name="TaskTime" placeholder="请输入回访日期" class="layui-input" value="{{= it.TaskTime }}" onclick="layui.laydate({elem:this})" />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">提醒内容</label>
                <div class="layui-input-block">
                    <input name="Name" class="layui-input" value="{{= it.Name }}" placeholder="请输入提醒内容" />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">提醒用户</label>
                <div class="layui-input-block">
                    <input type="hidden" name="UserID" value="{{= it.UserID }}" />
                    <input name="UserName" class="layui-input" value="{{= it.UserName }}" placeholder="请选择用户" />
                </div>
            </div>
        </script>

    </div>
</div>