<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly  name="Com.IFlyDog.IFlyDogAPIBLL"/>
    <assembly  name="Com.IFlyDog.FlyDogAPIBLL"/>
    <assembly  name="Com.JinYiWei.Cache"/>
    <assembly  name="Com.JinYiWei.Common"/>
    <containers>
      <container name="JinYiWeiUnity">
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ILoginService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.LoginService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDeptService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DeptService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChannelService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChannelService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISymptomService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SymptomService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IFailtureCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.FailtureCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IKnowledgeCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.KnowledgeCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IComplainCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ComplainCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICallbackCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CallbackCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IKnowledgeService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.KnowledgeService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICallbackGroupService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CallbackGroupService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartShiftCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartShiftCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartUnitService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartUnitService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartProductCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartProductCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICardCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CardCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ITagService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.TagService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartToolService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartToolService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartSupplierService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartSupplierService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IEquityService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.EquityService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IMemberCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.MemberCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartWarehouseService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartWarehouseService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartStockService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartStockService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartProductService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartProductService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IFailtureService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.FailtureService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartUserService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartUserService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartPurchaseService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartPurchaseService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartReturnService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartReturnService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ITreatService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.TreatService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IAllocateService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.AllocateService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISurgeryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SurgeryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IUseService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.UseService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IHospitalService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.HospitalService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICustomerProfileService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CustomerProfileService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IInvoiceService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.InvoiceService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IStoreService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.StoreService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICheckService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CheckService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IProvinceService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ProvinceService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IRoleService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.RoleService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IBedService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.BedService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChargeCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChargeCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChargeService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChargeService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDepositChargeService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DepositChargeService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IMemberDeskService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.MemberDeskService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICouponCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CouponCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IPointService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.PointService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IRelationService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.RelationService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IPositionService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.PositionService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ITagGroupService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.TagGroupService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICaseTemplateService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CaseTemplateService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChargeSetService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChargeSetService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IClubService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ClubService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChargeDiscountService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChargeDiscountService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IUserDiscountService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.UserDiscountService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IAppointmentService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.AppointmentService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IOptionService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.OptionService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IFrontDeskService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.FrontDeskService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IReceptionService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ReceptionService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICustomerService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CustomerService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IOperationLogService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.OperationLogService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IConsultService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ConsultService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICallbackService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CallbackService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IShareCategoryService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ShareCategoryService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IHospitalPrintService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.HospitalPrintService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IShiftService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ShiftService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IStoreManagerService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.StoreManagerService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISaleBackService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SaleBackService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICouponActivityDetailService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CouponActivityDetailService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICouponActivityService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CouponActivityService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IChannelGroupService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ChannelGroupService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IitemGroupService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ItemGroupService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISmartItemService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SmartItemService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDepositService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DepositService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IAuditRuleService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.AuditRuleService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IPhotoService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.PhotoService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IOrderService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.OrderService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IUserTriggerService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.UserTriggerService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IInpatientService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.InpatientService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDepositRebateOrderService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DepositRebateOrderService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IBackOrderService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.BackOrderService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICustomerGroupService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CustomerGroupService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICouponService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CouponService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IOwnerShipService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.OwnerShipService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ISettlementService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.SettlementService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICashierService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.NewCashierService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.ICustomerMedicalRecordService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.CustomerMedicalRecordService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IBillService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.BillService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IWXOptionService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.WXOptionService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDeptDeskService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DeptDeskService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IOwnerShipOrderService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.OwnerShipOrderService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IDeptSendService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.DeptSendService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IAuditApplyService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.AuditApplyService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IAuditWorkbenchService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.AuditWorkbenchService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IPromoterCommissionService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.PromoterCommissionService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IComplainService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ComplainService,Com.FlyDog.FlyDogAPIBLL" />
        <register  type="Com.FlyDog.IFlyDogAPIBLL.IReportService,Com.FlyDog.IFlyDogAPIBLL" mapTo="Com.FlyDog.FlyDogAPIBLL.ReportService,Com.FlyDog.FlyDogAPIBLL" />
      </container>
    </containers>
  </unity>
</configuration>