@using Com.IFlyDog.FlyDogWeb.Helper
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>劵分类管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Styles/Public/base-1.0.css" rel="stylesheet" />
    <link href="~/lay_component/plugins/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/lay_component/css/global.css" rel="stylesheet" />
    <style>
        .layui-form-label {
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <a href="javascript:;" class="layui-btn layui-btn-small btn-add">
                <i class="layui-icon"></i> 添加
            </a>
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>套餐管理</legend>
            <div class="layui-form m-10 clearfix">
                <div class="fl">
                    <label class="layui-form-label">拼音码</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sPinYin" placeholder="请输入拼音码">
                    </div>
                </div>
                <div class="fl">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sNmae" placeholder="请输入名称">
                    </div>
                </div>
                <div class="fl">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select class="sStatus" name="sStatus">
                            <option value="-1">全部</option>
                            <option value="1">使用</option>
                            <option value="0">停用</option>
                        </select>
                    </div>
                </div>
                <span class="layui-btn search-btn fr chargeSet">查询</span>
            </div>
            <div class="layui-field-box">
                <table class="site-table table-hover">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>拼音码</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="chargeSet-table"></tbody>
                </table>
                <!--分页容器-->
                <div id="pageDiv"></div>
            </div>
        </fieldset>
        <!-- 添加/编辑弹窗 -->
        <div class="chargeSet-pop hide">
            <form class="layui-form">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>编辑套餐</legend>
                </fieldset>
                <hidden name="chargeSetId"></hidden>
                <div class="layui-input-inline m-bt-10">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="name" placeholder="请输入名称" />
                    </div>
                </div>
                <div class="layui-input-inline m-bt-10">
                    <label class="layui-form-label">拼音码</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="pinYin" placeholder="请输入拼音码" />
                    </div>
                </div>
                <div class="layui-input-inline m-bt-10">
                    <div class="layui-input-inline">
                        <label class="layui-form-label">使用时间限制</label>
                        <div class="layui-input-inline" style="width:163px;">
                            <input type="checkbox" name="useDate" lay-filter="TimeLimit" title="时间限制" />
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <label class="layui-form-label">天数</label>
                        <div class="layui-input-inline " style="width:163px;">
                            <input type="text" class="layui-input" name="day" placeholder="请输入天数" disabled />
                        </div>
                    </div>
                    <div class="layui-input-inline" style="width:400px;">
                        <label class="layui-form-label">起始时间</label>
                        <input type="radio" name="startDate" lay-filter="startDate" value="0" title="从购买时间算" checked disabled />
                        <input type="radio" name="startDate" lay-filter="startDate" value="1" title="从第一次消费算" disabled />
                    </div>
                </div>
                <div class="layui-input-inline m-bt-10">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline " style="width:163px;">
                        <select name="status">
                            <option value="1">使用</option>
                            <option value="0">停用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline m-bt-10">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline ">
                        <textarea type="text" class="layui-textarea remark" name="remark" lay-verify="title" autocomplete="off" placeholder="请输入备注信息"></textarea>
                    </div>
                </div>
                <div class="layui-input-block" style="margin-left:130px;padding-right:20px;">
                    <table class="site-table table-hover">
                        <thead>
                            <tr>
                                <th>项目名称</th>
                                <th style="width:60px;">数量</th>
                                <th style="width:130px;">金额</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="chargeSet-product-table"></tbody>
                    </table>
                </div>
                <div class="m-20 clearfix">
                    <span class="layui-btn add-charge fl">添加</span>
                    <span class="layui-btn chargeSet submit-btn fr">确认</span><span class="layui-btn layui-btn-danger close-layer m-lr-10 fr">取消关闭</span>
                </div>
            </form>
        </div>
        <!-- End  添加/编辑弹窗 -->
        <!-- 项目弹窗 -->
        <div class="charge-pop hide">
            <div class="layui-form m-10 clearfix">
                <form class="m-20">
                    <div class="fl" style="margin-left:-35px;">
                        <label class="layui-form-label" style="width:70px;">拼音码</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="smartProductPinYin" placeholder="请输入拼音码">
                        </div>
                    </div>
                    <div class="fl">
                        <label class="layui-form-label" style="width:70px;">名称</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="smartProductNmae" placeholder="请输入名称">
                        </div>
                    </div>
                    <span class="layui-btn search-btn fr charge">查询</span>
                </form>
            </div>
            <div class="m-20">
                <table class="site-table table-hover">
                    <thead>
                        <tr>
                            <td>选择</td>
                            <th>项目名称</th>
                            <th>拼音码</th>
                            <th>类型</th>
                            <th>规格</th>
                        </tr>
                    </thead>
                    <tbody class="charge-table"></tbody>
                </table>
            </div>
            <div class="m-20 clearfix">
                <span class="layui-btn charge submit-btn fr">确认</span><span class="layui-btn layui-btn-danger close-layer m-lr-10 fr">取消关闭</span>
            </div>
        </div>
        <!-- 项目弹窗 End -->
        <div class="dot-tmp">
            <!-- 套餐表格 -->
            <script class="chargeSet-tmp" type="text/x-dot-template">
                {{ for(var item in it){ }}
                <tr data-id="{{= it[item].ID }}">
                    <td>{{= it[item].Name }}</td>
                    <td>{{= it[item].PinYin }}</td>
                    <td>{{= it[item].Price }}</td>
                    <td>{{= it[item].Status == 1?"使用":"停用" }}</td>
                    <td>
                        <span class="layui-btn layui-btn-mini btn-edit" data-id="{{= it[item].ID }}">编辑</span>
                    </td>
                </tr>
                {{ } }}
            </script>
            <!-- 套餐弹窗表格 -->
            <script class="chargeSet-product-tmp" type="text/x-dot-template">
                {{ for(var item in it){ }}
                <tr chargeId="{{= it[item].ChargeID }}">
                    <td>{{= it[item].ChargeName }}</td>
                    <td><input name="num" class="layui-input" value="{{= it[item].Num }}"/></td>
                    <td><input name="amount" class="layui-input" value="{{= it[item].Amount }}"/></td>
                    <td><span class="layui-btn layui-btn-mini btn-remove">删除</span></td>
                </tr>
                {{ } }}
            </script>
            <!-- 收费项目表格 -->
            <script class="charge-tmp" type="text/x-dot-template">
                {{ for(var item in it){ }}
                <tr chargeId="{{= it[item].ID }}">
                    <td><input type="checkbox" value="{{= it[item].ID }}" title="{{= it[item].Name }}" /></td>
                    <td>{{= it[item].Name }}</td>
                    <td>{{= it[item].PinYin }}</td>
                    <td>{{= it[item].CategoryName }}</td>
                    <td>{{= it[item].Size }}</td>
                </tr>
                {{ } }}
            </script>
        </div>
    </div>
    <script src="~/lay_component/js/jquery-2.0.3.min.js"></script>
    <script src="~/lay_component/js/hcommon.js"></script>
    <script src="~/Scripts/FlyDog.Common.js"></script>
    <script src="~/doT-master/doT-master/doT.min.js"></script>
    <script src="~/lay_component/plugins/layui/layui.js"></script>
    <script src="~/lay_component/sampleJs/ChargeSetInfo.js"></script>
</body>
</html>
